.banquet-search-table {
    max-width: 90%;
    margin: 0 auto;
  }
  .banquet-search-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .banquet-search-table td {
    border: 1px solid #ddd;
    padding: 2px 8px;
    text-align: center;
  }
  
  .banquet-search-table th {
    border: 1px solid #ddd;
    padding: 10px 8px;
    text-align: center;
    background-color: #0099cc;
    color: white;
  }
  
  .banquet-search-table input {
    width: 80%;
    margin-top: 5px;
  }
  
  .banquet-search-table  button {
    background-color: #fca800;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 8px 10px;
  }

  .banquet-search-table  button:hover {
    background-color: #cc8801;
}