.bookings-container {
  margin-top: 4.5rem;
  padding: 2rem;
}

.bookings-container .section {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bookings-container .section-header {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  background-color: #1a0e60;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.bookings-container .toggle-icon {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.bookings-container .section-content {
  padding: 1rem;
  background-color: #fff;
}

.bookings-container .tables h2{
  padding-left: 2rem;
  padding-top: 1.5rem;
  color: rgb(180, 123, 0);
  text-align: center;
}